.but{
 font-size: 20px;
  border: none;
}

.NavBarButton{
  color: white;
  border-radius: 20px;
  padding: 5px 40px;
  background-color: #181818;
}

.AutoButton{
  border-radius: 20px;
  padding: 5px 40px;
  background-color: white;
  color: black;
}